<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css"/>
    <title>Koutye</title>
</head>
<body>
    <div id="nav">
        <ul class="nav-element">
            <li><a href="">Appartement</a></li>
            <li><a href="">Utilisateur</a>
                <ul class="nav-element dropdown"> 
                    <li><a href="">Courtier</a></li>
                    <li><a href="">Deconnexion</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="header.js"></script>
    <script type="text/javascript" src="../../../utils/jquery.js"></script>
</body>
</html>