<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/app/components/addUser/addUser.css"/>
    <script type="text/javascript" src="src/app/components/addUser/addUser.js"></script>
    <script type="text/javascript" src="src/utils/jquery.js"></script>
    <title>Koutye</title>
</head>
<body>
    
    <a href="../header/header.html"></a>

    <form id="form-add">
        <fieldset>
            <legend>Nouvel Utilisateur</legend>
        <div class="content">
            <input type="text" name="nom" id="nom" placeholder="Nom "/>
            <input type="text" name="prenom" id="prenom" placeholder="Prenom "/>
        </div>
        <div class="content">
            <input type="text" name="username" id="username" placeholder="Nom utilisateur "/>
            <input type="email" name="email" id="email" placeholder="Email "/>
        </div>
        <div class="content">
            <input type="password" name="password" id="password" placeholder="Mot de passe "/>
            <input type="password" name="password2" id="password2" placeholder="Retapez mot de passe"/>
        </div>
        <div class="content">
            <input type="tel" name="phone" id="phone" placeholder="Telephone"/>
            <select name="type" id="type" placeholder="type utilisateur">
                <option value="Courtier">Courtier</option>
                <option value="Locataire">Locataire</option>
                <option value="Proprietaire">Propriétaire</option>
            </select>
        </div>
        <div class="content">
            <button type="submit" id="btn-submit">Enregistrer</button>
            
        </div>
    </fieldset>
</form>
<script >
   
   
    $(document).ready(function(){
    
    $("#form-add").submit(function(e) {
    //    e.preventDefault();

    const data ={
        nom: $("#nom").val(),
        prenom: $("#prenom").val(),
        username: $("#username").val(),
        email: $("#email").val(),
        password: $("#password").val(),
        telephone: $("#phone").val(),
        nomType: $("#type").val()
    }
    alert(JSONN.stringify(data)) ;

    $.ajax({
      type: "POST",
      url: "localhost:5050/api/user/add",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function(response){
        alart("data insert successfuly");
      },
      error: function(error){
         alert("Erreur: "+ error);
      }
    });
    
    return false;
  });

});
</script>
    
</body>
</html>